body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Code Pro', monospace;
    height: 80vh;
}


#logo {
    font-size: 2rem;
    font-weight: 600;
}
#menu-bar {
    background-color: white !important;
}

#main {
    margin-top: 5%;
    max-height: 90%;
}

#footer {
    max-height: 5%;
    background-color: white;

}