body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
}

.link-container {
    padding: 0;
    margin: 0;
}

.link-container li {
    list-style: none;
    color: white !important;
    font-size: 1.75rem;
}

#logo {
    margin-left: 0.5rem;
    font-size: 2.75rem;
    font-weight: 600;
}

#header {
    max-height: 5%;
    background-color: darkslategrey;
    color: white !important;
}

#main {
    margin-top: 5%;
    max-height: 90%;
}

#footer {
    max-height: 5%;
    background-color: darkslategrey;
    color: white !important;
}