
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.items-center {
    align-items: center;
}

.gap-1 {
    gap: 0.5rem;
}

.m-0 {
    margin: 0;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.no-decoration {
    text-decoration: none !important;
    color: white !important;
}

.w-90 {
    width: 90%;
}

.w-50 {
    width: 50%;
}

.m-auto {
    margin: 0 auto;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

.sticky-bottom {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
}

